* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.5px;
}

@media only screen and (min-width: 769px) {
    p {
        text-align: justify;
    }

    body {
        padding: 0 15%;
    }

    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #title-div>a {
        text-decoration: none;
        height: 100px;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: xxx-large;
        font-weight: bold;
    }

    nav {
        height: 40px;
        margin-bottom: 30px;
        /* padding: 0 1%; */
        background-color: #e2e2e2;
        border-bottom: 2px solid black;
    }

    #nav-marquee {
        height: 100%;
        display: flex;
        align-items: center;
    }

    #nav-ul {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .navlist {
        list-style: none;
        height: 80%;

        a {
            padding: 0 10px;
            text-decoration: none;
            color: #4d4d4d;
            border-radius: 5px;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 12px;
        }
    }

    .navlist>a:hover {
        /* background-color: #f0f0f0; */
        color: red;
    }


    #imagediv {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px 0;

        #image {
            width: 50%;
        }
    }


    /* Footer */
    #footer {
        margin-top: 50px;
        height: 50px;
        font-size: small;
        color: gray;

        p {
            text-align: center;
        }
    }
}









/* Mobile styles */
@media only screen and (max-width: 768px) {
    p {
        font-size: small;
        text-align: justify;
    }

    body {
        /* padding: 0; */
    }

    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #title-div>a {
        text-decoration: none;
        height: 100px;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: xx-large;
        font-weight: bold;

    }

    nav {
        height: 40px;
        margin-bottom: 30px;
        /* padding: 0 1%; */
        background-color: #e2e2e2;
        border-bottom: 2px solid black;
    }

    #nav-marquee {
        height: 100%;
        display: flex;
        align-items: center;
    }

    #nav-ul {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .navlist {
        list-style: none;
        height: 80%;

        a {
            padding: 0 10px;
            text-decoration: none;
            color: #4d4d4d;
            border-radius: 5px;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 12px;
        }
    }

    main {
        padding: 10px;
    }

    #heading {
        font-size: large;
    }


    #imagediv {
        width: 100%;
        display: flex;
        justify-content: center;

        #image {
            width: 90%;
            margin: 10px 0;
        }
    }


    /* Footer */
    #footer {
        margin-top: 50px;
        height: 50px;
        font-size: small;
        color: gray;

        p {
            text-align: center;
        }
    }
}